@import 'bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets'
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap'

body
  padding-top: 20px

form
  .ng-invalid.ng-dirty
    border: 1px solid red

  .ng-valid
    border: 1px solid green
